In [2]:
import pandas as pd
import os
import numpy as np
from config import apikey
import gmaps

In [3]:
bcross_df = pd.read_csv('Border_Crossing_Entry_Data.csv')
bcross_df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)

In [4]:


bcross_df['new_loc'] = bcross_df['Location'].str.split(" ")
#[.split(" ") ]

#bcross_df['new_loc'][0][2]
bcross_df.loc[:, 'lng'] = bcross_df.new_loc.map(lambda x: x[1][1:])
bcross_df.loc[:, 'lat'] = bcross_df.new_loc.map(lambda x: x[2][:-1])


 
#coordinates = [str.split(" ") for str in locs]
bcross_df

,Port Name,State,Port Code,Border,Date,Measure,Value,Location,new_loc,lng,lat
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524),"[POINT, (-115.48433000000001, 32.67524)]",-115.48433000000001,32.67524
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207),"[POINT, (-67.94271, 47.16207)]",-67.94271,47.16207
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333),"[POINT, (-117.05333, 32.57333)]",-117.05333,32.57333
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996),"[POINT, (-110.93361, 31.340279999999996)]",-110.93361,31.340279999999996
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005),"[POINT, (-73.44253, 44.990010000000005)]",-73.44253,44.990010000000005
...,...,...,...,...,...,...,...,...,...,...,...
346728,Norton,Vermont,211,US-Canada Border,01/01/1996 12:00:00 AM,Personal Vehicle Passengers,9119,POINT (-71.79 45.01),"[POINT, (-71.79, 45.01)]",-71.79,45.01
346729,Columbus,New Mexico,2406,US-Mexico Border,01/01/1996 12:00:00 AM,Personal Vehicles,29486,POINT (-107.63 31.78),"[POINT, (-107.63, 31.78)]",-107.63,31.78
346730,Hansboro,North Dakota,3415,US-Canada Border,01/01/1996 12:00:00 AM,Rail Containers Full,0,POINT (-99.35 49),"[POINT, (-99.35, 49)]",-99.35,49
346731,Calexico East,California,2507,US-Mexico Border,01/01/1996 12:00:00 AM,Buses,0,POINT (-115.39 32.67),"[POINT, (-115.39, 32.67)]",-115.39,32.67
346732,Presidio,Texas,2403,US-Mexico Border,01/01/1996 12:00:00 AM,Trucks,347,POINT (-104.39000000000001 29.56),"[POINT, (-104.39000000000001, 29.56)]",-104.39000000000001,29.56

In [7]:
gmaps.configure(api_key=apikey)
locations = bcross_df[["lng", "lat"]].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)
# Add layer
fig.add_layer(heat_layer)
fig

NameError: name 'rating' is not defined