In [2]:
import pandas as pd
import os
import numpy as np
import matplotlib

In [3]:
bcross_df = pd.read_csv('Border_Crossing_Entry_Data.csv')
bcross_df.head()

,Port Name,State,Port Code,Border,Date,Measure,Value,Location
0,Calexico East,California,2507,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,34447,POINT (-115.48433000000001 32.67524)
1,Van Buren,Maine,108,US-Canada Border,03/01/2019 12:00:00 AM,Rail Containers Full,428,POINT (-67.94271 47.16207)
2,Otay Mesa,California,2506,US-Mexico Border,03/01/2019 12:00:00 AM,Trucks,81217,POINT (-117.05333 32.57333)
3,Nogales,Arizona,2604,US-Mexico Border,03/01/2019 12:00:00 AM,Trains,62,POINT (-110.93361 31.340279999999996)
4,Trout River,New York,715,US-Canada Border,03/01/2019 12:00:00 AM,Personal Vehicle Passengers,16377,POINT (-73.44253 44.990010000000005)

In [4]:
transport_information = bcross_df.drop(["Port Code","Border","Location","Date","State"], axis=1)
transport_information.head()

       Port Name                      Measure  Value
0  Calexico East                       Trucks  34447
1      Van Buren         Rail Containers Full    428
2      Otay Mesa                       Trucks  81217
3        Nogales                       Trains     62
4    Trout River  Personal Vehicle Passengers  16377

In [5]:
transport_information = transport_information.loc[transport_information['Value'] !=0]
by_port_name = transport_information.groupby(['Port Name', 'Measure'])['Value'].sum()
by_port_name

Port Name       Measure
Alcan           Bus Passengers                   259693
                Buses                             11500
                Pedestrians                        5738
                Personal Vehicle Passengers     2503611
                Personal Vehicles               1158347
                Truck Containers Empty            18067
                Truck Containers Full            128033
                Trucks                           140100
Alexandria Bay  Bus Passengers                  1526743
                Buses                             45051
                Pedestrians                       24385
                Personal Vehicle Passengers    35763246
                Personal Vehicles              15098846
                Truck Containers Empty           323435
                Truck Containers Full           4158215
                Trucks                          5127928
Algonac         Personal Vehicles                 63825
Ambrose         Bus Passengers                      257
                Buses                                11
                Personal Vehicle Passengers      138314
                Personal Vehicles                 65420
                Truck Containers Empty             1462
                Truck Containers Full               566
                Trucks                             4127
Anacortes       Bus Passengers                     7739
                Buses                               306
                Pedestrians                      100785
                Personal Vehicle Passengers     1038946
                Personal Vehicles                443687
                Trucks                             5316
                                                 ...
Westhope        Truck Containers Full             70630
                Trucks                           144881
Whitetail       Bus Passengers                      450
                Buses                                14
                Pedestrians                          35
                Personal Vehicle Passengers      105817
                Personal Vehicles                 50450
                Truck Containers Empty              394
                Truck Containers Full               654
                Trucks                             2278
Whitlash        Pedestrians                          70
                Personal Vehicle Passengers       37164
                Personal Vehicles                 16067
                Truck Containers Empty             1733
                Truck Containers Full              4991
                Trucks                             7583
Wildhorse       Bus Passengers                     2936
                Buses                                97
                Pedestrians                           3
                Personal Vehicle Passengers      506670
                Personal Vehicles                226158
                Truck Containers Empty             2371
                Truck Containers Full             25440
                Trucks                            30328
Willow Creek    Bus Passengers                       62
                Buses                                 3
                Pedestrians                           1
                Personal Vehicle Passengers       94654
                Personal Vehicles                 47261
                Trucks                              194
Name: Value, Length: 1041, dtype: int64

In [6]:
nonhumans = ["Trucks", "Buses", "Personal Vehicles"]
transport_info2 = transport_information[transport_information.Measure.isin(nonhumans)]
transport_info_sorted = transport_info2.groupby(['Port Name'])['Value'].sum()
transport_info_sorted2 = transport_info_sorted.sort_values(ascending=False)
transport_info_sorted2.head(5)

Port Name
El Paso                  326400534
San Ysidro               323842139
Laredo                   177783450
Detroit                  170090793
Buffalo-Niagara Falls    168152722
Name: Value, dtype: int64